* {
    color-scheme: dark !important;
    color: white;
    border: none;
    border-radius: 2px;
    font-family: monospace;
}

body {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#life-canvas {
    margin: 1vh;
    cursor: crosshair;
}

#ticksPerFrame {
    margin: 1vh;
    cursor: col-resize;
}

#chance {
    margin: 1vh;
    width: 4rem;
    text-align: right;
}

#play-pause {
    margin: 1vh;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
