body {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#play-pause {
    background-color: black;
    border: none;
    color: white;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#chance {
    background-color: black;
    border: none;
    cursor: pointer;
}
